{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
</head>
<body>

    <div class="container-content">
        <div class="col1">
            <center>
                <img src="{% static 'Twin-Logo.png' %}" alt="image">


            <div> 
                <p> Parabéns você foi selecionado para concorrer a R$500 reais na Plataforma TOP 1 do Brasil, onde Carlinhos Maia, Deolane Bezerra e Virginia Fonseca acreditam e apoiam!</p>
                <p>Faça seu cadastro, seu depósito e comece a ganhar dinheiro enquanto se diverte com os jogos que MAIS ESTÃO PAGANDO no momento! 👇</p>
                <input type="button" value="CADASATRE-SE AGORA">
            </center>
            
            </div>
        <div class="col2">
            <center>
                <img src="{% static 'tigre.png' %}" alt="backgroud" srcset="">
            </center>
        </div>

        
    </div>
    <div class="col3">
        <div class="col3-1">
            <center>
                <img src="{% static 'tigre2.png' %}" alt="image" srcset="">
            </center>
            
        </div>
        <div class="col3-2">
            <p>Diferente de outras plataformas, aqui na Onabet você tem saque rápido, fácil e o melhor, IMEDIATO e ILIMITADO! 🤑

                Você pode MULTIPLICAR SEUS LUCROS em ATÉ 2500x enquanto se diverte e ainda saca seu dinheiro NA HORA que quiser! 💰
                
                </p>
                <center><input type="button" value="CADASTRE AGORA"></center>
                
        </div>
    </div>

    <div class="col5">
        <div class="row5-1">
            <center>
                <p>Ah, e ainda temos o MELHOR… O depósito MÍNIMO é de UM REAL para você lucrar em qualquer jogo!
                    Só acredita vendo? Então deixa a gente mostrar pra você na prática o passo a passo:
                    </p>
                    <p>
                    1) Clique no botão cadastre-se agora ✅ <br>
                    
                    2)Preencha os seus dados ✅<br>
                    
                    3)Finalize o seu cadastro ✅<br>
                    
                    4)Deposite qualquer valor ✅<br>
                    
                    5)Divirta-se muito e ainda saia ganhando!💰✅<br>
                </p>
                <input class="button" type="button" value="CADASTRE AGORA">
            </center>

        </div>
    </div>
    <div class="col6">
        <div class="row6-1">
            <center>
                <p style="margin: 100px; margin-bottom:50px">CADASTRE-SE AGORA GRATUITAMENTE, CONCORRA A €500 euros e venha ter resultados extraordinários com a Onabet! 🎰

                    Quanto maior o valor do depósito maior a chance de você ganhar e dobrar o seu dinheiro HOJE 💰💰 </p>
                    <div class="euro">
                        <p> €30 >  50% de chance de dobrar o dinheiro.</p>
                    
                        <p>€50 > 65% de chance de dobrar o dinheiro.</p>
                        
                        <p>€100 > 90% de chance de dobrar o dinheiro.</p>
                    </div>
       
                    
                    
                    
                    <p>  Não perca tempo, cada real investido pode transformar seu destino. Deposite agora e conquiste todos os seus sonhos!💰</p>
                    <input type="button" class="button" value="CADASTRE AGORA">
                </center>

            
        </div>
    </div>

    <footer>
        <center>
            <p>Ativando seu Resultado é um agregador e afiliado. Não somos proprietários ou operadores de quaisquer jogos online e não oferecemos serviços de apostas. Esse é apenas um portal de informação, incluindo instruções para elevar o nível de consciência dos leitores. Enquanto agregadores, promovemos e realizamos de forma regulamentada a divulgação através de campanhas de anúncios com links para serviços de jogo online e outros provedores. Não estamos associados a nenhum site externo ligado a esta página. Não nos responsabilizamos por quaisquer danos a que os usuários estejam sujeitos ao visitar estes links. A nossa afiliação poderá resultar numa comissão caso um usuário qualifique para certos requisitos nos sites para os quais ligamos.</p>

        </center>
    </footer>

</body>
</html>