{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>CUPOM DE DESCONTO 30%</title>
    <link rel="icon" href="{% static 'img/game_1.jpeg' %}" type="image/x-icon">
</head>

<body>
    <div class="espaco-mobile">
        <img src="{% static 'img/mobile2.png' %}" alt="mobile-promo">
        <div>
            <center>
                <div class="button">
                    <a href="https://mnr-ircp01.com/c73471629">Registrar-se</a>
                </div>
            </center>
        </div>
    </div>



    </div>

    <div class="painel">
        <video autoplay muted loop poster="{% static 'img/poster.png' %}">
            <source src="https://play.spincasino.com/spc/content/shared/videos/wave/wolf_blaze_wowpot/desktop.mp4" type="video/webm">
            Seu navegador não suporta vídeos.
        </video>
    </div>
</body>
</html>
