@media only screen and (max-width: 600px){

    
    .row-1 img{
        max-width: 100px;
        min-height: 190px;
    
    }
    .row-2 img{
        max-width: 100px;
        min-height: 19px;
    }
    .step{
        min-height: 50px;
        margin: 5px;
    }
    .row-casino{
        position: relative;
    }
    .row-ca-1, .row-ca-2{
        display: grid;
        width: 100%;
        margin: 0;
    }
    .circle{
        max-width: 120px;
        max-height: 100px;
    }
    .title-headline{
        scale: 0.8;
    }
        .desktop-video {
        display: none;
    }

    .mobile-video {
        display: block;
        width: 100%;
        height: auto; /* Ajuste conforme necessário */
    }
    .texto-sobre-video{
        
        display: none;
        scale: 0.6;
        left: 20%;
        top: 15%;
        z-index: 9999;
        padding-right: -30%;
    }
    .espaco-mobile{
        background-color: #e23301;
        height: 220px;
        width: 100%;
        display: block;
        margin-top: -1px;

    
    }
    
    .espaco{
        display: none;
    }

    .espaco-mobile img{
        display: block;
        width: 100%;
        
        transform: translateY(80px);
        transform: translateX(0px);
        z-index: 9999999;
        margin-top: 0px;
        margin-left: 0%;
        margin-bottom: 0;


      }
    

      @keyframes pulsar {
        0%, 100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }
      
      .reg-mobil3{
        margin: 0 auto ;
        max-width: 70%;
        animation: pulsar 3s infinite; /* 3 segundos por ciclo */
        animation-delay: 0s, 3s; /* Inicia imediatamente, depois de 3 segundos, e assim por diante */

      }
      .reg-mobil3 input{
        font-weight: bolder;
        color: rgb(0, 0, 0);
        stroke: 1px black ;
      }
    input{
      display: block;
      min-height: 5vh;
      background-color: rgb(255, 255, 255);
    }
    a{
        display: block;
        text-decoration: none;
    
    }
    .reg-mobil3{
      display: block;
      
  }
.oferta1, .expira, .relogio{
  scale: 0.8;
  margin-top: -10px;

}

}