body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;


}
a{
    text-decoration: none; 
}

.linha {
    border-bottom: 8px solid #fa0000; /* Cor da linha (preto, neste caso) e espessura da linha */
    max-width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 500ms;
}

.nome{
    font-size: 40px;
    font-weight: 400;
}

.row-2 img{
    width: 120px;
    height: 180px;
    padding: 3px;
    border-radius: 10px;
    transition: 500ms;
}
.row-1 img{
    width: 120px;
    height: 180px;
    padding: 3px;
    border-radius: 10px;
    transition: 500ms;
}

.row-1 img:hover{
    scale: 1.1;
    cursor: pointer;
}

.row-2 img:hover{
    scale:1.1;
    cursor: pointer;
}

.headline{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 40px;
}
.title-headline{
    margin: 0;
    font-weight: 400;
    font-size: 40px;
}
.row-casino{
    display: flex;
    align-items: center;
    justify-content: center;
}

.step{
    padding: 3%;
    background-color: #ffffff;
    border: 0.5px #ccc solid;
    margin: 7px;
    border-radius: 10px;
    transition: 500ms;
    min-width: 140px;
}
.step:hover{
    scale: 1.1;
    cursor: pointer;
} 

video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%; /* Mantenha 80% da altura original */
    object-fit: cover;
    z-index: -1;

}

.row-ca-1, .row-ca-2{
    display: flex;
    margin-right: 100px;
}
.circle{
    min-height: 120px;
    min-width: 100px;
    background-color: #df2e01;
    scale: 0.6;
    border-radius: 100%;
}

.circle img{
    width: 100px;
    height: 100px;
    opacity: 0.8;
    margin-top: 10px;
    scale: 0.7;
}

.texto-sobre-video {
    position: absolute;
    top: 80%;
    left: 38%;
    transform: translate(-50%, -50%);
    z-index: 99;
    text-align: center;
    color: white; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    margin: 0;
    padding: 0;
    padding-right: 30%;

}

.painel p{
    margin: 0;
    scale: 1.3;
    margin-top: 15px;
    margin-bottom: 15px;
}
.oferta, .bonus{
    font-weight: 40;
    font-size: 30px;
    margin: 0;
}

.texto-sobre-video img{
    scale: 0.8;
    margin: 0;
    transform: translateY(-60px);
    transition: 500ms;
}
.texto-sobre-video input{
    transform: translateY(-200px);
    background-color: transparent;
    border: none;
    color: #ffdd58;
    font-size: 30px;
    z-index: 999;
    transition: 500ms;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}
.reg{
    margin-top: 20px;
    cursor: pointer;
    transition: 400ms;
}
.reg:hover{
    scale: 1.1;
}
nav{
    background-color: #dec9c9; /* Cor de fundo da nav */
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    color: rgb(30, 30, 30); /* Cor do texto na nav */
    height: 40px;
    padding: 0;
}
.fixed-div {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    color: #000000;
    overflow: hidden;
}

.marquee {
    width: 100%;
    display: flex;
    animation: marquee 180s linear infinite;
}

.marquee p {
    margin-top: 6px;
    margin-right: 0px;
    min-width: 47ch;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}   

@keyframes marquee {
    0% {
        transform: translateX(-30%);
    }

    100% {
        transform: translateX(-1000%);
    }
}

.marquee p span {
    font-size: 20px;
    color: #41c541;
    font-weight: bold;
}
.mobile-video{
    display: none;
}
footer{
    margin-top: 5%;
    background-color: #222222;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes pulsar {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .reg {
    animation: pulsar 3s infinite; /* 3 segundos por ciclo */
    animation-delay: 0s, 3s; /* Inicia imediatamente, depois de 3 segundos, e assim por diante */
  }
  .espaco-mobile img{
    display: none
  }
  .reg-mobile{
    display: none;
  }

input {
    display: none;
    position: relative;
    margin-bottom: 20%;
    background-color: #fff;
    display: block;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0 auto;
    width: 70%;
    min-height: 20%;
    text-align: center; /* Centraliza horizontalmente (opcional) */
    line-height: normal; /* Redefine a altura da linha para centralizar verticalmente */
    border-radius: 10px;
    border: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 99999999999999;
  }
.reg-mobil3 a {
    display: none;
    text-decoration: none;
}  

.reg-mobil3{
    display: none;
}
.reg{
    width: 50%;
    height: 45px;
    position: relative;
    background-color: #ffffff;
    border: #df2e01;
    border-radius: 10px;
    margin: 0 auto
}
.reg input{
    position: relative;
    display: flex;
    transform: translateY(03px);
    color: #eb0000;
    stroke: #df2e01;

}
.contador {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    z-index: 99;
    color: #fb0000;
    font-weight: bold;
    margin-bottom: 0;
    background-color: #232120;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 9999999999;
  }
.oferta1{
    font-size: 20px;
    color: #fff;
    transform: translateY(-10px);
    font-weight: lighter;
    
}
  relogio {
    animation: scrollDown 1s infinite;
  }
  
  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .blackbox{
    height: 130px;
    width: 100%;
    background-color: #000;
    position: relative;
  }
  .expira{
    font-size: 25px;
    color: #fff;
    transform: translateY(10px);
  }